<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.exam.model.dao.FoodDao">

  <insert id="insertFood" parameterType="com.ssafy.exam.model.dto.Food">
    INSERT IGNORE INTO food (
      food_code, food_name, group_name, allergy_info, image_url
    ) VALUES (
      #{foodCode}, #{foodName}, #{groupName}, #{allergyInfo}, #{imageUrl}
    )
  </insert>

  <select id="selectFoodByCode" parameterType="String" resultType="com.ssafy.exam.model.dto.Food">
    SELECT * FROM food WHERE food_code = #{foodCode}
  </select>

  <select id="selectAllFoods" resultType="com.ssafy.exam.model.dto.Food">
    SELECT * FROM food
  </select>

</mapper>
