<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.exam.model.dao.NutritionDao">

  <insert id="insertNutrition" parameterType="com.ssafy.exam.model.dto.Nutrition">
    INSERT IGNORE INTO nutrition (
      food_code, weight, energy_qy, water_qy, prot_qy, ntrfs_qy, ashs_qy,
      carbohydrate_qy, sugar_qy, fibtg_qy, aat19_qy, aae10a_qy, aane_qy,
      fafref_qy, faessf_qy, fasatf_qy, famsf_qy, fapuf_qy,
      clci_qy, irn_qy, mg_qy, phph_qy, ptss_qy, na_qy,
      zn_qy, cu_qy, mn_qy, se_qy, mo_qy, id_qy, rtnl_qy, catn_qy,
      vitd_qy, vite_qy, vitk1_qy, vtmn_b1_qy, vtmn_b2_qy, nacn_qy, pantac_qy,
      pyrxn_qy, biot_qy, fol_qy, vitb12_qy, vtmn_c_qy, chole_qy, nacl_qy, ref_qy
    ) VALUES (
      #{foodCode}, #{weight}, #{energyQy}, #{waterQy}, #{protQy}, #{ntrfsQy}, #{ashsQy},
      #{carbohydrateQy}, #{sugarQy}, #{fibtgQy}, #{aat19Qy}, #{aae10aQy}, #{aaneQy},
      #{fafrefQy}, #{faessfQy}, #{fasatfQy}, #{famsfQy}, #{fapufQy},
      #{clciQy}, #{irnQy}, #{mgQy}, #{phphQy}, #{ptssQy}, #{naQy},
      #{znQy}, #{cuQy}, #{mnQy}, #{seQy}, #{moQy}, #{idQy}, #{rtnlQy}, #{catnQy},
      #{vitdQy}, #{viteQy}, #{vitk1Qy}, #{vtmnB1Qy}, #{vtmnB2Qy}, #{nacnQy}, #{pantacQy},
      #{pyrxnQy}, #{biotQy}, #{folQy}, #{vitb12Qy}, #{vtmnCQy}, #{choleQy}, #{naclQy}, #{refQy}
    )
  </insert>

  <select id="selectByFoodCode" parameterType="String" resultType="com.ssafy.exam.model.dto.Nutrition">
    SELECT * FROM nutrition WHERE food_code = #{foodCode}
  </select>

</mapper>
